<div class="row-fluid">
	<div class="span12">

<div class="wrapper">
	<h1  style="color:white;" ><span style="color: #9f0d25">weSpot</span> SF Photo Contest </h1>
	<div class="inner"
	<div id="rules" >
		
		<ol class="unstyled">
			<li>
				Sign up for one or more eateries on our <%= link_to 'restaurant list', map_path %>. 
			</li>
			<li>
				Take photos of your eatery according to <%= link_to 'photo guidelines', phototips_path %>.
			</li>
			<li>
				 Submit your photos to <strong>contest@wespot.co</strong> by Nov. 26, 2012. 
			</li>
			<li>
				Get your friends to vote and win awesome dinners for 2 in SF!* 
				<ul>
					<li><strong>Top Prize:</strong> Prix fixe dinner at <%= link_to 'Coi', 'http://coirestaurant.com/food/' %> or <%= link_to 'Benu', 'http://www.benusf.com/' %> (2 Star Michelin Experiences)</li>
					<li><strong>2nd:</strong> <%= link_to 'The House', 'http://www.yelp.com/biz/the-house-san-francisco' %></li>
					<li><strong>3rd:</strong> <%= link_to 'Kappou Gomi', 'http://www.yelp.com/biz/kappou-gomi-san-francisco' %></li>
				</ul>
			</li>
		</ol>
		<div style="margin-left:-25px;">* <%= link_to 'See contest rules for more details', rules_path %></div>
	</div>

	<div id="form">
	<%= render 'form' %>			
	</div>



</div>
