<!DOCTYPE html>
<html>
<head>
  <title>weSpot | Photo Contest</title>

  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <style type="text/css">
  	
  	.fr {float:right;display:block;}
  	
  	ol li {font-size:16px; line-height: 20px;}

	</style>
  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36088740-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>



<body>

  <header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "weSpot", root_url %></li>
        </ul>


        <ul class="nav pull-right">
           
            <li><%= link_to "Restaurant List", map_path %></li>
            <li><%= link_to "Contest Rules", rules_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Signup", root_url %></li>

        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="container" style="padding-top:30px;">
<%= yield %>
</div>

</body>
</html>
